body
{
  background-color: #d8d8d8;
  font-family: Verdana, sans-serif;
  font-size: 80%;
}
input[type=button] {
    margin-left: 0px;
    font-size: 80%;
}

input[type=button]:hover{
  background-color: #FFFFFF;
}

input[type=checkbox]:hover{
  color: #FFFFFF;
}

img {
    float: right;
    margin: 0 0 20px 20px;
}

#clear {
    clear: both;
}

#date {
  text-align: center;
}

#wrapper {
  width: 300px;
  padding: 25px;
  margin: 20px auto;
  border: 1px solid #000000;
  box-shadow: 5px 5px #000000;
}

table {
  border-collapse: collapse;
  width: 100%;
}
table, td, th {
  border: 1px solid black;
}


h1 {
  text-align: center;
}

h3 {
  text-decoration: underline;
  text-align: center;
}

#MyList, #MyCart {
  font-size: 120%;
}
footer {
  text-align: center;
}
